.wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
.wrapper.big { background: url(../images/wrap-glow.jpg) no-repeat center top;  }

/*Feature Box
------------------------------------------------------------ */
div#feature { background: url(../images/feature-body.png) repeat-y top center;}
div.feature-top {
	display: block;
	height: 20px;
	background: url(../images/feature-top.png) no-repeat top center;
}
div.feature-bottom {
	display: block;
	height: 20px;
	margin-bottom: 30px;
	background: url(../images/feature-bottom.png) no-repeat top center;
}
div.region-featured {
	float: left;
	font-size: 1.3em;
	padding: 0 10px;
	width: 618px;
}
div.region-featured-sidebar {
	float: right;
	width: 258px;
	padding: 0px 0px 0px 0px;
}
#main-top {
	height: 54px;
	background: #3c3c3d url(../images/main-top.png) no-repeat center top;
}
#main { background: #e7e9eb url(../images/main-body.png) repeat-y center top; }
#main-bottom {
	height: 15px;
	background: url(../images/main-bottom.png) no-repeat center top;
}
.main-top-left {
	float: left;
	width: 638px;
	padding: 0;
}
.region-subscribe {
	float: right;
	width: 280px;
	margin: 0px 0px 10px 5px;
}
.region-subscribe .content {
	margin: 0 0 10px 0;
}
#content {
	float: left;
	width: 618px;
	padding: 20px 20px 15px 20px;
}
#sidebar {
	float: right;
	padding: 0 20px;
	width: 262px;
}
/*Sidebox
---------------------------------------*/
.region-ads {
	margin: 20px 0 30px 0;
	font-size: 1.2em;
}

/* Index and paged layout
------------------------------------------------------------ */
.node {
	margin-bottom: 30px;
	position: relative;
	border-bottom: 1px solid #d5d7d8;
}
/*Content
---------------------------------------*/
.content {
	margin: 0 0 30px 0;
	height:auto;
}
#footer {
	clear: both;
	margin-top: 30px;
	padding: 30px 0;
	background: #141414;
}
.footer-column {
	float: left;
	color: #bbb;
}

/*Footer Columns
---------------------------------------*/

.region-footer-first { width: 250px; font-size: 1.2em; }
.region-footer-second { width: 250px; font-size: 1.2em; }
.region-footer-third {
	margin: 0;
	float: right;
	width: 266px;
}
.clear:after, li.comment:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div.skip-content { display: none; }
