/*
	READ THIS PLEASE!!

	You DO NOT want to make edits to this file.
	If you make edits to this file your layout will break
	when you upgrade the theme.

	Instead add your custom CSS to the style.css file
	in a Child Theme. Any new styles you add to the style.css
	in your Child Theme will automatically override this
	imported stylesheet. This will also make your life a whole
	lot easier when it comes time to upgrade the theme.
*/

/*Undo browser defaults courtesy of Eric Meyer
------------------------------------------------------------ */
:link, :visited { text-decoration: none; }
ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6, pre, code, p { font-size: 1em; }
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }
:focus { outline: 0; }
address { font-style: normal; }

/*Body & Links
------------------------------------------------------------ */
body {
	font: 62.5% Helvetica, "Helvetica Neue", Arial, sans-serif;
	color: #444;
	line-height: 2.2em;
	background: #292929 url(../images/body-background.jpg) repeat left top;
	min-width: 960px;
}
a:link, a:visited { color: #285a86; }

a:hover { color: #1a3d5c; }
/*Page Navigation
---------------------------------------*/
#pg-nav-bg {
	height: 43px;
	background: #000 url(../images/flw-bg.png) repeat-x top left;
}
#pg-nav { float: right; }
.menu-top-menu-container ul.inline li {
padding-left: 0px;
padding-right: 0px;
}
#pg-nav .nav {
	margin: 0;
	line-height: 50px;
}
#pg-nav .nav a	{
	font-size: 1.2em;
	font-weight: normal;
	color: #b3b3b3;
	text-shadow: 0 -1px 0 #000;
}
.wrapper #pg-nav #menu-top-menu li .active {background-color: #000000; color:white;}
#pg-nav .nav a:hover { color: #fff; }
#pg-nav .nav ul {
	z-index: 1000;
	background-image: url(../images/nav-bottom-pg.png);
}
#pg-nav .nav li li { background: #1c1c1c; }
#pg-nav .nav li:hover, #pg-nav .nav li.sfhover, #pg-nav .nav .current_page_parent, #pg-nav .nav .current_page_ancestor, #pg-nav .nav .current-cat-parent, #pg-nav .nav .current-cat, #pg-nav .nav .current_page_item, #pg-nav .nav .current_page_item a, #pg-nav .nav .current-cat a {
	color: #fff;
	background: rgba(0,0,0,.2);
}
#pg-nav .nav li li:hover, #pg-nav .nav li li.sfhover, #pg-nav .nav li li.current_page_parent, #pg-nav .nav li li.current_page_ancestor, #pg-nav .nav li li.current-cat-parent, #pg-nav .nav li li.current-cat, #pg-nav .nav li li.current_page_item { background: #000; }

/*Header
------------------------------------------------------------ */
#header { padding-bottom: 20px; }
div.logo { float: left; }
h1#title, div#title, div.logo img {
	padding: 30px 0 0 20px;
	font-size: 3em;
	color: #f8f8f8;
	font-weight: bold;
	text-shadow: 0 2px 0 #000;
}
h1#title a:link, h1#title a:visited, div#title a:link, div#title a:visited	{ color: #fff; }
h1#title a:hover, div#title a:hover { text-decoration: none; }
div.banner {
	float: right;
	margin: 20px 0 0 0;
}

/*Description
---------------------------------------*/
#description {
	margin: 12px 0 0 20px;
	color: #aaa;
	font-family: Georgia, Times, sans-serif;
	font-style: italic;
	font-size: 1.3em;
	line-height: 1;
}
/*Nav
---------------------------------------*/
div#cat-nav {
	clear: both;
	float: left;
	width: 960px;
	margin: 30px 0 0 0;
	background: url(../images/nav.png) no-repeat bottom center;
}
.nav {
	float: left;
	line-height: 45px;
	margin: 0 20px;
	width: 100%;
}
.nav a {
	display: block;
	color: #ebecee;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 0 #090909;
	padding: 0 20px;
}
.nav a:hover { color: #fff; }
.nav li { float: left; }
.nav ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 200px;
	font-weight: normal;
	z-index: 999;
	padding-bottom: 10px;
	background: transparent url(../images/nav-bottom.png) no-repeat bottom center;
}
.nav ul a, .nav li a {
	display: block;
	position: relative;
}
.nav ul a {
	font-weight: normal;
	color: #ebecee;
	text-shadow: none;
}
.nav li li {
	width: 200px;
	background: #245d8e;
}
.nav li li a {
	margin: 0;
	padding: 8px 10px 8px 20px;
	width: 170px;
	line-height: 20px;
}
.nav li ul ul { margin: -36px 0 0 200px; }
.nav li:hover ul ul, .nav li:hover ul ul ul, .nav li:hover ul ul ul ul, .nav li.sfhover ul ul, .nav li.sfhover ul ul ul, .nav li.sfhover ul ul ul ul { left: -999em; }
.nav li:hover ul, .nav li li:hover ul, .nav li li li:hover ul, .nav li li li li:hover ul, .nav li.sfhover ul, .nav li li.sfhover ul, .nav li li li.sfhover ul, .nav li li li li.sfhover ul { left: auto; }
.nav li:hover, .nav li.sfhover, .nav .current_page_parent, .nav .current_page_ancestor, .nav .current-cat-parent, .nav .current-cat, .nav .current_page_item, .nav .current_page_item a, .nav .current-cat a {
	color: #fff;
	background: rgba(0,0,0,.1);
}
.nav li li:hover, .nav li li.sfhover, .nav li li.current_page_parent, .nav li li.current_page_ancestor, .nav li li.current-cat-parent, .nav li li.current-cat, .nav li li.current_page_item { background: #235079; }

/* Featured Region */
div.region-featured h3 { margin: 10px 0 0 0; }
div.region-featured h3 a:link, div.featured h3 a:visited {
	font-size: 1.6em;
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
div.region-featured h3 a:hover { color: #285a86; }
div.region-featured a:link.more-link, div.region-featured a:visited.more-link {
	float: right;
	display: block;
	margin-top: 20px;
	padding: 4px 20px;
	font-weight: bold;
	font-size: 1.0em;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	background: #eef0f2 url(../images/feature-li-bg.png) repeat-x bottom left;
	border: 1px solid #aaa;
	border-radius: 16px 16px 16px 16px;
	/*-moz-border-radius: 16px !important;
	-webkit-border-radius: 16px !important;*/
}
div.region-featured a:hover.more-link {
	border: 1px solid #c9c9c9;
	background: #f3f5f7 url(../images/feature-li-bg-hover.png) repeat-x bottom left;
}
/* Featured Sidebar Region */
/*Feature Sidebar
---------------------------------------*/
div.region-featured-sidebar h2 {
	font-size: 1.4em;
	height: 50px;
	margin: 10px -44px 5px 6px;
	background: url(../images/feature-h2-bg.png) no-repeat top left;
	color: #f3f4f6;
	padding: 10px 0 0 16px;
	text-shadow: 0 1px 0 #111;
}
div.region-featured-sidebar ul {
  margin-right: -7px;
  padding-left: 6px;
  padding-right: 0;
}

div.region-featured-sidebar ul li { 
  margin: 0 0 15px 0; 
  list-style: none; 
}
div.region-featured-sidebar ul li a {
	display: block;
	padding: 12px 15px;
	font-size: 1.2em;
	line-height: 1em;
	border: 1px solid #bfbfbf;
	background: #ebedf0 url(../images/feature-li-bg.png) repeat-x bottom left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
div.region-featured-sidebar ul li a:hover {
	 border: 1px solid #d1d1d1;
	 background: #f5f7fa url(../images/feature-li-bg-hover.png) repeat-x bottom left;
}
div.region-featured a:active.more-link, div.region-featured-sidebar ul li.active a, div.region-featured-sidebar ul li.active a:hover, div.region-featured-sidebar ul li a:hover:active {
	 border: 1px solid #ccc;
	 border-top: 1px solid #777;
	 border-bottom: 1px solid #dedede;
	 background: #d4d7d9 url(../images/feature-li-bg-active.png) repeat-x top left;
}
div.region-featured-sidebar ul li.active a { cursor: default; }
div.region-featured-sidebar ul li a img {
	float: left;
	display: block;
	margin: 0 15px 0 0;
	padding: 3px;
	background: #fff;
	border-bottom: 1px solid #aaa;
}
div.region-featured-sidebar ul li a:hover img, a:hover img.index-post-thm { -moz-transform: rotate(-4deg); -webkit-transform: rotate(-4deg); }
div.region-featured-sidebar ul li.active a:hover img { -moz-transform: none; -webkit-transform: none; }
div.region-featured-sidebar ul li a strong {
	display: block;
	width: 175px;
	float: right;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 3px 0;
}
div.region-featured-sidebar ul li.active a strong { text-shadow: 0 1px 0 #f3f3f3; }
div.region-featured-sidebar ul li a span {
	display: block;
	float: right;
	width: 175px;
	color: #666;
}
/*Main Top
------------------------------------------------------------ */
#main-top h4 {
	float: left ;
	padding: 16px 0 0 20px;
	font-size: 1.4em;
	line-height: 1;
	font-weight: bold;
	color: #dbdbdb;
	text-shadow: 0 1px 0 #000;
}
/* Region subscribe */
.region-subscribe h2 {
	float: left;
	font-weight: bold;
	font-size: 1.3em;
	color: #c1c1c1;
	text-shadow: 0 1px 0 #000;
	padding: 0 30px 0 0;
}

.region-subscribe ul { float: right;}
.region-subscribe ul li {
	float: left;
	margin-left: 15px;
}
.region-subscribe li a:link, .subscribe li a:visited	 { opacity: .9; }
.region-subscribe li a:hover { opacity: 1; }
.region-subscribe li a:active { opacity: .5; }

/* Node in front page */
.node .date {
	position: absolute;
	left: -98px;
	width: 73px;
	height: 73px;
	text-align: center;
	background: rgba(0, 0, 0, .15);
}
.node .date div {
	font-size: 1.3em;
	color: #efefef;
	font-weight: bold;
	letter-spacing: 2px;
}
.node .date .day {
	margin-top: 15px;
	font-size: 2.4em;
}
.node .date .month {
	text-transform: uppercase;
	font-weight: normal;
	color: #ccc;
}
a:hover img.index-node-thm { -moz-transform: rotate(-2deg); -webkit-transform: rotate(-2deg); }
img.index-node-thm { margin-bottom: 30px; float: left; }

.node .content h2.title {
	font-size: 2em;
	margin: 0;
	padding: 0 0 10px 0;
}
.node .content h2 a:link, .content h2 a:visited {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
.node .content h2 a:hover { color: #285a86; }
.content.nothumb { margin: 0 0 30px 0; }
.content a:link.more-link, .content a:visited.more-link {
	position: relative;
	text-shadow: 0 1px 0 #fff;
	font-size: 1em;
        margin-left: 0px;
	font-weight: bold;
	padding-right: 15px;
	background: url(../images/entry-more.png) right no-repeat;
}

/* In page/node styling
------------------------------------------------------------ */
/* .node .content p {
	text-shadow: 0 1px 0 #fbfbfb;
	font-size: 1.3em;
      
        
}
*/
.content h2, .content h3, .content h4 {
	font-size: 1.4em;
	padding: 15px 0 5px 0;
}
.content h3 {
	padding-top: 10px;
	font-size: 1.2em;
}
.content h4, .content h5, .content h6 {
	padding-top: 10px;
	font-size: .9em;
}

pre {
	margin: 10px 0;
	padding: 1em 10px;
	overflow: auto;
	background-color: #ebebeb;
	color: #000;
}
code {
	padding: 2px 3px;
	font: 1.1em Consolas, Courier New, sans-serif;
	background-color: #ebebeb;
	color: #000;
}
pre code { font-size: 1.3em; }
blockquote {
	display: block;
	margin: 20px 0 20px 20px;
	padding: 0 0 0 20px;
	border-left: 3px solid #cbcbcb;
	color: #666;
	font-style: italic;
	line-height: 1.5em;
}
.node .content ul, .c-body ul { margin: 0 0 10px 10px; }
.node .content ul li, .c-body ul li {
	list-style-type: disc;
	list-style-position: outside;
	margin: 5px 0 5px 20px;
	font-size:1.2em;
	margin-top: 5px;
	margin-left: 20px;
	margin-right:0px;
	margin-bottom:5px;
}
.node .content ol, .c-body ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 5px 0 5px 40px;
}
.node .content ol li ol li, .c-body ol li ol li { list-style-type: lower-roman; }
.node .content ol li, .c-body ol li { margin: 5px 0; }
.content .alignright { margin: 0 0 10px 15px; }
.content .alignleft { margin: 0 15px 10px 0; }
/* Single layout
------------------------------------------------------------ */
.content.single {
	margin: 0;
	padding-bottom: 15px;
	
}
h1.title {
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 2.4em;
	text-shadow: 0 1px 0 #fff;
}
div.author {
    color: #666666;
    font-family: "Georgia",serif;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 #FBFBFB;
}
div.single-comments {
	float: right;
	margin: 12px 0 0 0;
}
div.single-comments a {
	 display: block;
	 padding: 0 0 0 25px;
	 font-size: 1.6em;
	 font-weight: bold;
	 letter-spacing: .05em;
	 color: #000;
	 text-shadow: 0 1px 0 #717171;
	 background: url(../images/main-comment.png) no-repeat 0 .2em;
}
img.alignright.single-node-thm { margin: 0 0 20px 30px; float: right; }
/*Sidebox
---------------------------------------*/
.region-ads p {
	margin-bottom: 15px;
	line-height: 1.6em;
}
.region-ads img {
	padding: 5px;
	line-height: 0;
	background: #fff;
	border: 1px solid #aaa;
}
/*Right Side Bar
---------------------------------------*/
.region-right-sidebar h2 {
	margin-bottom: 15px;
	line-height: 1.6em;
	font-size: 1.2em;
	}
.region-right-sidebar .block {
	font-size: 1.2em;
}

/* Footer */
#footer a:link, #footer a:visited { color: #fff; margin-left: -5px; }
#footer a:hover { text-decoration: underline; }

.footer-column h2 {
	font-size: 1.4em;
	border-bottom: 1px dotted #333;
	color: #fff;
	padding-bottom: 4px;
	margin-top: 0;
}
.footer-column p {
	margin: 15px 0;
	font-size: 1.3em;
	line-height: 1.6em;
}

.footer-column input[type="text"] {
  background-color: white;
  border: 1px solid silver;
  color: black;
  height: 35px;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 290px;
}

.footer-column textarea {
  background-color: white;
  border: 1px solid silver;
  color: black;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  width: 290px;
}

.footer-column input[type="submit"] {
  background: none repeat scroll 0 0 silver;
  border: 1px double #D1DEEF;
  color: black;
  display: inline-block;
  margin-right: 30px;
  outline: 2px groove #FFFFFF;
  padding: 4px 10px;
  text-decoration: none;
}
/*Search
---------------------------------------*/
.region-footer-third .content h2 { padding-top: 0px; margin-left: 0px; font-size: 1.6em;}
#search-block-form input.form-text {
	margin: 15px 0 0 0;
	padding: 5px 2px;
	width: 180px;
	border: 1px solid #aaa;
	background: #ddd;
	color: #555;
}
#search-block-form input.form-text:focus { background: #fff; }
#search-block-form input.form-submit { margin: 0 0 0 5px; width: 70px; }
/*Comments
------------------------------------------------------------ */
/*Top
---------------------------------------*/
.comment-number {
	padding: 0 0 10px 0;
	text-shadow: 0 1px 0 #fbfbfb;
	font-weight: bold;
	border-bottom: 4px double #d5d7d8;
}
.comment-number span {
	float: left;
	display: block;
	padding: 0 0 0 30px;
	font-size: 1.6em;
	background: url(../images/comments-top.png) no-repeat 0 .2em;
}
.none { border-bottom: 1px solid #d5d7d8; }
a#leavecomment {
	float: right;
	font-size: 1.3em;
}
/*Body
---------------------------------------*/
div.comment-box { padding: 10px 0 20px 0; }
li.comment {
	text-shadow: 0 1px 0 #fbfbfb;
	border-bottom: 4px double #d5d7d8;
}
div.c-grav {
	float: left;
	width: 94px;
	margin-top: 10px;
}
div.c-grav img {
	padding: 3px;
	background: #fff;
	border-bottom: 1px solid #aaa;
}
div.c-author {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2em;
}
div.c-date {
	margin-top: 5px;
	font-size: 1.1em;
	line-height: 1em;
	font-family: Georgia, sans-serif;
	font-style: italic;
	color: #777;
}
div.c-body {
	margin-left: 121px;
	font-size: 1.3em;
}
div.c-links {
	float: right;
}
div.c-body p { 
  margin-top: 10px;
  margin-right:10px;
}
/*Threaded Comments
---------------------------------------*/
#comments ul.children {
	margin: 10px 0 0 121px;
	clear: both;
}
#comments ul.children li.comment {
	margin-bottom: 20px;
	background: #f4f6f8;
	border-top: 1px solid #d5d7d8;
	border-bottom: 1px solid #d5d7d8;
}
#comments ul.children li.comment.odd {
	background: #dadcde;
	border-top: 1px solid #cdcfd1;
	border-bottom: 1px solid #cdcfd1;
}
#comments ul.children li.comment div.c-grav {
	padding-left: 20px;
	width: 74px;
}
#comments ul.children div.c-body {
	margin-left: 117px;
	width: 363px;
	font-size: 1.3em;
}
#comments ul.children ul.children { margin-right: 20px; }
#comments ul.children ul.children div.c-body { width: 216px; }
li.comment a {
	clear: both;
	margin-top: 10px;
	line-height: 1em;
	font-size: .8em;
	font-family: Georgia, sans-serif;
	font-style: italic;
	text-transform: lowercase;
	color: #888;
}
li.comment a:hover { color: #285a86; }
/*Form
---------------------------------------*/
#comment-form { margin: 30px 0 0 0; }
form#comment-form {
	font-size: 1.3em;
	text-shadow: 0 1px 0 #fbfbfb;
}

form#comment-form label {
	display: block;
	float: left;
	width: 121px;
	margin: 5px 0 3px 0;
}
form#comment-form fieldset span {
	margin-left: 10px;
	color: #990000;
}
form#comment-form input.form-text, form#comment-form textarea {
	padding: 5px;
	width: 411px;
	font-size: 1em;
}
form#comment-form textarea { font-family: inherit; }
form#comment-form input.form-text { width: 286px; }
form#comment-form p.guidelines {
	margin: 10px 0 5px 0;
	color: #555;
}
form#comment-form .form-actions { margin-left: 121px; }
form#comment-form .form-submit { float: left; width:80px; margin-right: 5px; }
/*Copyright
---------------------------------------*/
#copyright {
	clear: both;
	padding: 10px 0 30px 0;
	font-size: 1.2em;
	color: #ccc;
}
#copyright {
    background:none;
}

p.credit { float: right;
text-align: right;
margin-right: 10px;
}

#copyright a:link, #copyright a:visited {
	color: #fff;
	font-weight: bold;
}
#copyright a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}
.region-theme-by { text-align: right;}
/* Pager */
.front .pager li { font-size: 1.2em; padding: 0px; margin-left: 2px;  }
.front .pager li a {
  padding: 5px 8px;
	border: 1px solid #ccc;
	color: #444;
        font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	background: #eef0f2 url(../images/feature-li-bg.png) repeat-x bottom left;
	border: 1px solid #ababab;
}
.front .pager .pager-current {
  background: none;
  border: 0px;
  margin: 0px 8px;
}
.front .pager li a:hover {
	background: #f3f5f7 url(../images/feature-li-bg-hover.png) repeat-x bottom left;
	border: 1px solid #c9c9c9;
}
.front .pager li a:active {
	border: 1px solid #ccc;
	border-top: 1px solid #777;
	border-bottom: 1px solid #dedede;
	background: #d4d7d9 url(../images/feature-li-bg-active.png) repeat-x top left;
}


.block { margin-top: 0px; padding-top: 0px;}

.block ul.menu li {
  list-style: none;
}

.tags, .cats {
	float: right;
	padding-bottom: 10px;
	font-size: 1.2em;
	font-family: "Georgia", serif;
	color: #666;
	text-shadow: 0 1px 0 #fbfbfb;
}
.tags {
	float: left;
	width: 300px;
	padding: 0 0 10px;
	background: url(../images/node-tags.png) no-repeat 0 .25em;
}
.tags a, .cats a {
	color: #444;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.cats a:hover, .tags a:hover { color: #285a86; }
.tabs { font-size: 1.2em; }
/*Miscellaneous
------------------------------------------------------------ */
img.border {
	padding: 4px;
	background: #fff;
	border: 1px solid #aaa;
}
.grippie { display: none; }

/*Play-button in right side
------------------------------------------------------------- */

#slider-arrows .slider-nav-left a{
  
  float: right;
  margin-right: 131px;
  background: url(../images/feature-sld-nav-left.png) ;
  height:25px;
  width:33px;
  margin-left:107px;
 }
 #slider-arrows .slider-nav-right a{
  
  background: url(../images/feature-sld-nav-right.png) ;
  height:25px;
  width:32px;
  margin-right:-171px;
  float:right;
 }
.region-featured-sidebar{
   margin-bottom: -14px;
}
#block-system-main .content .node {
   border-bottom: 1px solid #D5D7D8;
   margin-bottom: 30px;
   margin-left: 5px;
   position: relative;
}

.region-featured  .content .feature-photo {
   background: none repeat scroll 0 0 #FFFFFF;
   border: 1px solid #AAAAAA;
   padding: 7px;
}

.region-right-sidebar #block-user-new .content .item-list ul li {
   text-align: left;
   margin-left: 0px;
}
body.front div.node-article div.content{
   margin-left: 249px;
   font-family: Arial;
   text-shadow: 0 1px 0 #fbfbfb;
   font-size: 1.3em;
}

body.not-front div.node-article div.content{
   font-family: Arial;
   text-shadow: 0 1px 0 #fbfbfb;
   font-size: 1.3em;
}
.region-content #block-system-main .content .item-list .pager {
   margin-left: 80px;
   text-align: left;
   clear: both;
}
.region-right-sidebar #block-user-login .content .item-list ul li {
   text-align: left;
   margin-left: 0px;
}

.post-tags .field-item {
  float:left;
  margin-right:5px;
  background-color: silver;
  /*background-image: -moz-linear-gradient(center top , #EEECEA, #EEECEA);*/
  background-repeat: repeat-x;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #CD4517;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
  height:22px;
}

.post-tags{

}

.post-tags a{
	color:black;
	text-decoration: none;
	padding:0px 6px;
	font-size:15px;
}

.post-tags a:hover{
  background-color:#999999;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height:24px;
} 

.post-tags .field-label {
  display:none;
}
#nav {
    clear: both;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height:43px;
    float:right;
}
#nav ul {
    /*float: left;*/
    padding-bottom: 0px;
    /*padding-left: 15px;*/
    
    padding-right: 15px;
    padding-top: 0px;
}
#nav li {
    float: left;
    font-weight: 400;
    list-style-type: none;
}
#nav li a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #ffffff;
    display: block;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
}
#nav li a:hover, #nav li a:active, #nav a.active {
    background-color:#000000;
    opacity: 1;
}
#nav li a .sf-sub-indicator {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-indent: -9999px;
}
#nav li li a, #nav li li a:link,#nav li li a:visited {
    background-color: #12263B;
    border-top-width: 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    position: relative;
    text-transform: none;
    width: 140px;
}
#nav li li a:hover, #nav li li a:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #01152A;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    opacity: 1;   
    background-size: auto auto;
    color: #FFFFFF;
}
#nav li ul {
    height: auto;
    left: -9999px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
}
#nav li ul a {
    width: 160px;
}
#nav li ul ul {
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: -36px;
}
#nav li:hover > ul, #nav li.sfHover ul {
    left: auto;
}
#nav ul li.leaf, #nav ul li.expanded, #nav ul li.collapsed {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
#nav ul.menu li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #000000;
  color:#ffffff;
  opacity:0.5;
}

#nav li li a:hover,
#nav li li a:active {
  background: #000000;
  color:#ffffff;
  opacity:1;
}
